head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  title Index
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/static/css/home-style.css' type='text/css')
.header
  .inr_container
    .logosec
      img(src='/static/img/logo.svg' alt='Logo')
      img(src='/static/img/Vespa.chat.svg' alt='Logo')
    .fltr
      span.worldicn
.wrap_btm
  .clip
  .clip2
  .clip3
  .clip4
  .clip5
  .clip6
  .clip7
  .clip8
  .inr_main.t_center
    p.maintxt SIGNUP
    p.maintxt.mgt14 Vespa.chat allows you to chat anonymously with your friends!
    .btncol
      a.logbtn(href='login' style="cursor: pointer") Login
      a.signbtn(href='signup' style="cursor: pointer") Sign Up
    img(src='/static/img/art-img1.png' alt='Image')
.footer.t_center
  p.ftrtxt
    | By continuing to use our website, you confirm that you have read and agreed to our updated 
    a.linktxt(href='/') Privacy Policy
    |  and 
    a.linktxt(href='/') Terms and Conditions
    a.linkbtn(href='/') Accept
